
<a href = "/rock">Play Rock</a>
<a href = "/paper">Play Paper</a>
<a href = "/scissors">Play Scissors</a>

<h1>
  We played paper
</h1>

<h1>
  They played <%= @comp_move %>!
</h1>

<h1>
  We <%= @outcome %>!
</h1>
